/* BASE STYLES */
:root {
  --clr-dark: #0f172a;
  --clr-light: #f1f5f9;
  --clr-accent: #e11d48;
}



body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  word-spacing: 1.4px;
  font-family: "Roboto", sans-serif;
  color: var(--clr-dark);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vh;
}

.triptych {
  border: 10px solid var(--clr-dark);
  display:flex;
  justify-content:space-evenly;
}

.kridlo {
  background-color: #fb7185;
  font-weight: 700;
  color: var(--clr-light);
  text-align: center;
  border: 10px solid var(--clr-accent);
}

.kridlo-1 {
width: 25vh;
height:auto;
}


.levy-bg{
object-fit: contain;
}